<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        .container {
            padding: 30px;
        }
        .title {
            float: left;
        }
        .logo {
            width: 100px;
        }
        .right {
            float:right;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="container">
        <div class="title right">
            <h1>Parcel Quotes</h1>
        </div>
        <div>
            <img th:src="@{/images/flatcap.png}" class="logo"/>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="csv-table">
            <thead>
            <tr>
                <th>No.</th>
                <th>Barcode</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Recipient</th>
                <th>Price</th>
                <th>Date</th>
                <th>QR Code</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script th:inline="javascript">
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const customerId = urlParams.get('customerId')
    const quoteEndpoint = [[${quoteEndpoint}]];
    const quotePath = [[${quotePath}]];
    const barcodePath = [[${barcodePath}]]
    const url = quoteEndpoint + quotePath + "?customerId="+customerId+"&source=CSV";
    const evtSource = new EventSource(url);
    let counter = 0;
    const qrCodeLink = quoteEndpoint + barcodePath + "/"

    evtSource.onmessage = function (event) {
        const data = JSON.parse(event.data);
        const table = document.getElementById("csv-table");
        const row = table.insertRow(1);
        const cell1 = row.insertCell(0);
        const cell2 = row.insertCell(1);
        const cell3 = row.insertCell(2);
        const cell4 = row.insertCell(3);
        const cell5 = row.insertCell(4);
        const cell7 = row.insertCell(5);
        const cell8 = row.insertCell(6);
        const cell9 = row.insertCell(7);
        counter++;
        cell1.innerHTML = '<td>' + counter + '</td>';
        cell2.innerHTML = '<td>' + data.barcode + '</td>';
        cell3.innerHTML = '<td>' + data.name + '</td>';
        cell4.innerHTML = '<td>' + data.weight + '</td>';
        cell5.innerHTML = '<td>' + data.recipient + '</td>';
        cell7.innerHTML = '<td>' + data.price + '</td>';
        cell8.innerHTML = '<td>' + data.date + '</td>';
        cell9.innerHTML = '<td><a href=\'' + qrCodeLink + '/' + data.barcode + '\' target="_blank">View</a></td>';
    }
</script>
</body>
</html>
