<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/dropzone.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/toastr.min.css}"/>
    <style>
        .container {
            padding: 30px;
        }
    </style>
</head>
<body>

<div class="container">
    <div id="dropzone">
        <form id="file-form" action="/quotes/csv" enctype="multipart/form-data" method="POST" class="dropzone needsclick">
            <div class="dz-message needsclick">
                <button type="button" class="dz-button">Drop files here or click to upload.</button>
                <br/>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/dropzone.min.js}"></script>
<script th:src="@{/assets/toastr.min.js}"></script>
<script th:inline="javascript">
    const form = document.getElementById('file-form');
    const quoteEndpoint = [[${quoteEndpoint}]];
    const quotePath = [[${quotePath}]];
    form.action = quoteEndpoint + quotePath + "/csv"
    Dropzone.autoDiscover = false;

    $("#file-form").dropzone({
        success : function(file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');
        }
    });
</script>
</body>
</html>
